@font-face {
  font-family: "panther";
  src: url("panther.ttf");
}
.login,
.register {
  float: right;
  margin-right: 10px;
}
.navbar {
  padding: 10px;
}
.navlink-container {
  display: inline-block;
  text-align: center;
}
.offerings-title {
  text-align: center;
  font-size: 48px;
  display: block;
}
.coaching-content {
  text-align: center;
}
.coaching-description {
  display: block;
}
.video-container {
  position: relative;
  height: 760px;
}
.landing-video {
  position: absolute;
  z-index: 1;
}
.videooverlay {
  bottom: 0;
  z-index: 2;
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 50;
  color: #94d52c;
  font-family: "panther";
}
.overlaylinks-container > a {
  text-decoration: none;
  color: #94d52c;
}
.overlaylinks-container > a:hover {
  color: #d57f16;
}

.overlaylinks {
  margin-right: 10px;
  margin-left: 10px;
}
.offerings-content {
  padding: 105px;
}
.offerings-picture {
  height: 300px;
  /* width: 500px; */
}
.offerings-container {
  border: 3px;
  padding: 20px;
}
.offerings-child {
  width: 50%;
  float: left;
  padding: 20px;
}
