@font-face {
  font-family: "panther";
  src: url("assets/panther.ttf");
}
@font-face {
  font-family: "alexbrush-regular";
  src: url("assets/AlexBrush-Regular.ttf");
}
@font-face {
  font-family: "acherus light";
  src: url("assets/acherus-grotesque-light.ttf");
}
.login,
.register {
  float: right;
  margin-right: 10px;
}
.navbar {
  padding: 10px;
}
.navlink-container {
  display: inline-block;
  text-align: center;
}
.landing-video {
  position: absolute;
  z-index: 1;
}
.videooverlay {
  bottom: 0;
  z-index: 6;
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 95;
  color: #94d52c;
  font-family: "panther";
}
.overlaylinks-container > a {
  text-decoration: none;
  color: #94d52c;
  text-shadow: 2px 2px 4px #000000;
}
.overlaylinks {
  margin-right: 10px;
  margin-left: 10px;
}
.overlaylinks-container > a:hover {
  color: #d57f16;
}
.offerings-container {
  border: 0px;
  padding: 50px;
}
.offerings-title {
  text-align: center;
  font-size: 48px;
  display: block;
  font-family: "alexbrush-regular";
}
.description {
  font-family: "acherus light";
  text-align: center;
  display: block;
}

.video-container {
  position: relative;
  height: 760px;
}

.offerings-picture {
  height: 500px;
  width: 300px;
}

.offerings-child {
  width: 50%;
  float: right;
  padding: 300px;
  box-sizing: border-box;
}
.offerings-child2 {
  width: 50%;
  float: left;
  padding: 200px;
  box-sizing: border-box;
}
